.ghost-text {
  color: #fa0505 !important;
  opacity: 0.9;
  font-style: italic;
  font-size: larger;
  position: absolute;
  pointer-events: none;
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 1;
  transition: opacity 0.3s ease-in-out;
}